/*common css start*/
.common-p {font-size: 16px; color: #000000; line-height: 24px;}
.common-p-white {font-size: 16px; color: #ffffff; line-height: 24px;}
.title-blue {color: #31b1dd; font-size: 30px; font-weight: 700;}
.title-white {color: #ffffff; font-size: 30px; font-weight: 700;}
.h2-divider {width: 100px;border-color: #31b1dd;border-width: 2px;}
.h2-divider-white {width: 100px;border-color: #ffffff;border-width: 2px;}
.common-bg {background-color: #31b1dd;}
.m-0{margin: 0;}
.pb-90{padding-bottom: 90px;}
.mt-90{margin-top: 90px;}

/*common css end*/


.layer-2 p {max-width: 530px; color: #000000; line-height: 24px; padding-top: 20px; font-weight: 400;}
.breadcrumb-img .intro-content {background-position: right;}
.expertise-post h3 {color: #31b1dd; font-size: 20px; line-height: 24px;}
.expertise-post p {color: #000000; font-size: 14px; line-height: 20px;}
.expertise-post{display: block; border-radius: 5px; min-height: 350px; border: 1px solid #fff!important; padding: 16px; box-shadow: 0px 3px 6px 0px #00000029; -webkit-box-shadow: 0px 3px 6px 0px #00000029;-moz-box-shadow: 0px 3px 6px 0px #00000029;}
.services-box {border: 1px solid #ffffff; border-radius: 8px; padding: 15px; box-shadow: 0px 3px 6px 0px #00000029;}
.services-box {min-height: 170px;}
.services-box h4 {color: #ffffff; font-size: 20px; line-height: 24px; font-weight: 500;}
.srvce-img { background-color: #ffffff;border-radius: 100%;width: 100px;height: 100px;line-height: 90px; margin: 10px auto;text-align: center;}
.why-choose-bg-image img {margin: 0 auto; display: table;}
.why-choose p {color: #707070; font-size: 16px; line-height: 24px;}
.why-choose .choose-cntnt-box h5 {color: #000000; font-size: 22px; font-weight: 700;line-height: 27px;}
.client-testimonials .testinomial-cntnt p {background-color: #FAFAFA; color: #707070; font-size: 16px; line-height: 24px; padding: 35px;}
.testinomial-img {margin-top: -40px;}
.testinomial-img img {border-radius: 100%; }
.client-testimonials .testi-name p {color: #000000; font-weight: 700; font-size: 22px; line-height: 27px;} 
.client-testimonials .testi-name small {color: #707070; font-size: 16px;}
.client-testimonials {background-color: #f7f7f7;}
.call-to-action {background-color: #2a3647; padding: 50px 0;}
.call-to-action h3 {margin-bottom: 0; color: #ffffff;}
.comn-btn {	border: 1px solid #ffffff;color: #31b1dd;display: inline-block;	font-size: 16px;font-weight: 500;padding: 8px 30px;text-align: center;text-transform: capitalize;transition: all 0.4s ease 0s;border-radius: 60px;background-color: #ffffff;}
.comn-btn:hover {background-color: transparent; border: 1px solid #ffffff; color: #ffffff;}
.footer-social-icon .social-element li {display: inline-block; margin: 0 45px;}
.footer-social-icon .social-element li a {color:#31b1dd; display: inline-block; font-size: 35px; width: 50px; height: 50px; line-height: 48px;}
.footer-social-icon {background-color: #414042; padding: 60px 0;}
.inquiry-sec .icon-box {text-align: center; box-shadow: 0px 3px 6px 0px #00000029; padding: 15px; border-radius: 10px; background-color: #ffffff;}
.inquiry-sec .icon-box .icon-box-icon {font-size: 32px; background-color: #31b1dd; display: inline-block; width: 80px; height: 80px; line-height: 80px; border-radius: 100%; margin-bottom: 14px;}
.inquiry-sec .icon-box .icon-box-icon i {color: #ffffff;}
.inquiry-sec .icon-box .icon-box-sub-title {font-size: 17px; font-weight: 500;}
.inquiry-sec .icon-box .icon-box-info-title a {font-size: 19px; color: #414042; font-weight: 500;}
.icon-box-info-title hr {margin-top: 10px; margin-bottom: 10px;}
.inquiry-sec {padding-bottom: 50px;}
.team-area {padding-top: 50px;}

.team-area {padding: 50px 0px;}
.why-choose {
	background-image: url(img/services/mobile-app-development-why-choose.png);
	background-repeat: no-repeat;background-size: cover;background-position: 45% 30%;height: 100%;min-height: 155vh;}
	/*responsive*/

	@media (max-width: 1199px) {
		.services-box h4 {font-size: 19px;}
		.inquiry-sec .icon-box .icon-box-info-title a {font-size: 15px;}
	}

	@media (max-width: 1024px) {
		.expertise-post {margin-bottom: 40px;}
		.services-box {min-height: 216px; margin-bottom: 35px;}
		.choose-cntnt-box {margin-bottom: 35px;}
	}
	@media (max-width: 991px) {
		.call-to-action {text-align: center;} 
		.call-action-btn {margin-top: 25px;}
		.why-choose {background-image: none; min-height: initial; height: initial;}
		.inquiry-sec .icon-box {margin-bottom: 20px;}
	}
	@media (max-width: 767px) {
		.call-to-action {padding: 25px 0;}
		.inquiry-sec{margin-top: 20px;}
	}
	/*@media (max-width: 479px) {
		.why-choose {min-height: 145vh;}
		}*/
/*mobile app developement company page css end*/


.eng-box{
    display: block;
    margin-bottom: 30px;
}
.eng-box h3{
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFF;
    margin-bottom: 10px;
}

.eng-box p{
    display: block;
    margin-bottom: 0px;
    font-size: 16px;
    color: #f9f9f9;
}
.ml-auto{
    margin-left: 0;
}

.why-choose-new p {color: #707070; font-size: 16px; line-height: 24px;}
.why-choose-new .choose-cntnt-box h5 {color: #000000; font-size: 22px; font-weight: 700;line-height: 27px;}

.service-box{
	display: block;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 30px; 
	border: 1px solid transparent; 
	box-shadow: 0px 3px 6px 0px #00000029; 
	-webkit-box-shadow: 0px 3px 6px 0px #00000029;
	-moz-box-shadow: 0px 3px 6px 0px #00000029;
	transition: 0.5s all;
}

.service-box h3{
	font-size: 20px;
	font-weight: 600;
	color: #000;
	margin-bottom: 15px;
	display: block;
}
.service-box:hover,
.service-box:focus{
	border: 1px solid #3babd1;
	transition: 0.5s all;
}
.expert-box{
    display: block;
    margin-bottom: 30px;
}
.expert-box h3{
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFF;
    margin-bottom: 10px;
}

.expert-box p{
    display: block;
    margin-bottom: 0px;
    font-size: 16px;
    color: #f9f9f9;
}
.row.step-row{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.d-flex{
	display: flex;
	flex-wrap: wrap;
}
.align-items-center{
	align-items: center;
}
.justify-content-center{
	justify-content: center;
}

.process-box{
	margin-bottom: 30px;
	display: block;
	text-align: center;
	min-height: 150px;
	padding: 10px;
}
.process-box h3{
	font-size: 75px;
	display: block;
	margin-bottom: 20px;
	color: #FFF;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3babd1;
	opacity: 0.7;
}
.process-box p{
	font-size: 18px;
	color: #575757;
	font-weight: 500;
	line-height: 30px;
	display: block;
}

